@import url('../node_modules/onsenui/css-components-src/src/theme.css');
@import url('./theme.css');
@import url('../node_modules/onsenui/css-components-src/src/components/index.css');
@import url('../node_modules/onsenui/css/ionicons/css/ionicons.min.css');
@import url('../node_modules/onsenui/css/font_awesome/css/font-awesome.min.css');
@import url('../node_modules/onsenui/css/material-design-iconic-font/css/material-design-iconic-font.min.css');
@import url('../node_modules/onsenui/css-components-src/src/iphonex-support/index.css');

.ons-icon.left {
  margin-right: 20px;
}

.bottom-row {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-around;
  align-items: center;
  width: 100%;

  top: auto;
  bottom: 28px;
  position: absolute;
}

.buttons-pile {
  display: flex;
  flex-flow: column;
  justify-content: space-around;
  top: auto;
  width:  90%;
  bottom: 28px;
  position: absolute;
}

.buttons-pile ons-button {
  margin: 10px 20px;
  height: 50px;
  font-size: 18px;
  font-weight: 500;
  padding-top: 8px;
}

ons-button.secondary {
  background-color: #222831;
}